@import url("discussion-code-highlighting.css");

.scratchpad-page .video-discussion .tab, .scratchpad-page .video-discussion .video-discussion-header {
    max-width: unset !important;
}

/** Improvements to discussion styling **/
/*TODO: Re-add outline-fixing code*/

/*Make the reply textbox not tiny*/
body textarea[id^="uid-discussion-input"] {
    min-height: 40px !important;
}
textarea[id^="uid-discussion-input"]:focus {
    min-height: 143px !important;
}

/*Add a background to code blocks*/
.discussion-code-format {
    background-color: #f4f4f4;
    border-radius: 3px;
    padding: .2em .4em;
}

/*Fix a bug where inline code blocks expanded the width of the comment*/
.discussion-code-inline {
    white-space: pre-wrap;
}

/** Widen scratchpad **/
body .scratchpad-wrap-outer > div {
    max-width: none !important;
}

/** Hide editor feature **/
body .kae-hidden-editor-wrap {
    text-align: center;
    display: block !important;
}

.kae-hidden-editor-wrap > .scratchpad-canvas-wrap {
    display: inline-block !important;
    border-left: 1px solid rgba(33, 37, 45, 0.16) !important;
    border-right: 1px solid rgba(33, 37, 45, 0.16) !important;
}

.kae-hidden-editor-wrap .scratchpad-editor-wrap {
    display: none !important;
}

/** Program toolbar buttons (Toggle Editor and Toggle Editor Settings for now) **/
#kae-toggle-editor-settings, #kae-hide-button {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(33,36,44,0.50);
    height: 40px;
    border-radius: 4px;
    color: #1865f2;
    padding: 0 12px;
    line-height: 20px;
    cursor: pointer;
    outline: none;
    margin-right: 16px}

#kae-toggle-editor-settings:hover, #kae-hide-button:hover {
    border: 1px solid transparent !important;
    box-shadow: 0 0 0 2px #1865f2;
}

/** Table Styles **/
.kae-table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	font-size: 14px;
	text-align: left;
}

.kae-td {
	padding: 4px;
	border: none;
}

/** Make buttons under the program blue **/
body .kae-program-button {
    margin: 0 !important;
    padding: 8px !important;
    font-size: 15px !important;
    line-height: 23px !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    cursor: pointer !important;
    text-decoration: none !important;
    margin-right: 0 !important;
    border: 1px solid transparent !important;
    color: white !important;
    background: #1865f2 !important;
}
body .kae-program-button:hover {
    background: #0f52cf !important;
    color: white !important;
    border: 1px solid transparent !important;
}

/** Evenly space program buttons **/
.voting-wrap .discussion-meta .discussion-meta-controls > span:nth-child(2) {
    display: inline-block;
    width: 3px;
}

/* Make the sort selecting elements on the browse projects page blue */
body ._1wnf0g1k, body ._11pveom5 {
    color: #1152b0 !important;
}

body ._1wnf0g1k:hover {
    color: #0d3d82 !important;
}

/** Center program titles **/
.scratchpad-page h1 {
    width: 100%;
    text-align: center;
}

/** Notification delete button **/
.kae-notif-delete {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.kae-notif-delete svg {
    padding: 5px;
    border-radius: 5px;
}

.kae-notif-delete svg:hover {
    background: #dddddd;
}

/** Profile tweaks **/
/*Fix a small UI bug with the Edit Profile button*/
#nav-container .user-card-edit-menu {
    top: 0;
}

/*Style for the Projects link we add to the left sidebar on a profile*/
.kae-projects-profile-link {
    background-color: transparent !important;
    text-decoration: none !important;
    color: #21242C !important;
    border-radius: 4px !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    padding-left: 24px !important;
    border: 1px solid transparent !important;
    display: block !important;
    cursor: pointer !important;
    font-size: 16px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.kae-projects-profile-link:hover {
    opacity: 0.64;
}

/** Hide survey **/
.kui-survey.session-survey {
    display: none;
}

/** Editor Settings **/
.kae-editor-settings {
    display: block;
    position: absolute;
    border: 2px solid #D6D8DA;
    color: black;
    transform: translateY(-100%);
    text-align: left;
    border-radius: 2px;
    padding: 5px;
    background: #fff;
}
.kae-editor-settings table {
    border-collapse: separate;
    border-spacing: 5px;
}
.kae-editor-settings:before {
    border-top-color: transparent;
    background: #fff;
    padding: 8px;
    content: "";
    position: absolute;
    top: 100%;
    border-radius: 2px;
    border: 2px solid #D6D8DA;
    border-top-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/** Report button under programs and on profile pages **/
body #kae-report-button {
    background: #c93f3f !important;
}

body #kae-report-button:hover {
    background: #ac3030 !important;
}

.kae-user-report-button {
    display: block;
    text-decoration: none;
    color: white !important;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

/** Misc **/
.kae-green {
    color: #3eaa23 !important;
}

.kae-white {
    color: #ffffff !important;
}
