/** Community guidelines **/
body .video-discussion {
    float: left !important;
    margin: 0px !important;
    width: 50% !important;
    display: block;
}

body .footer_crtwg {
    max-width: none !important;
}

body .main-discussion-guidelines.discussion-guidelines {
    float: right !important;
    width: 25% !important;
    display: block !important;
    margin-top: 0px !important;
}

/** Widen scratchpad **/
body .wrap_xyqcvi {
    max-width: none !important;
}

/** Report button under programs **/
#kae-report-button {
    text-decoration: none !important;
    background: white;
    border: 1px solid #ac3939;
    color: #ac3939;
    border-radius: 4px !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 8px 8px !important;
    margin: 0px 3px 0px 0px !important;
    text-align: center !important;
    cursor: pointer;
}

/** Hide editor feature **/
.kae-hide-400 {
  min-width: 400px !important;
  width: 400px !important;
}

.kae-hide-500 {
  min-width: 500px !important;
  width: 500px !important;
}

.kae-hide-600 {
  min-width: 600px !important;
  width: 600px !important;
}

.kae-hide {
  display: none !important;
}

#kae-hide-div {
    text-align: right !important;
    float: right !important;
    margin-bottom: 5px;
}

#kae-hide-button {
    width: 100px;
}

/** Table Styles **/
.kae-table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	font-size: 14px;
	text-align: left;
}

.kae-td {
	padding: 4px;
	border: none;
}

/** Notification delete button **/
.kae-notif-delete {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.kae-notif-delete svg {
    padding: 5px;
    border-radius: 5px;
}

.kae-notif-delete svg:hover {
    background: #dddddd;
}