/** Community guidelines **/
body .video-discussion {
    float: left !important;
    margin: 0px !important;
    margin-left: 25% !important;
    width: 50% !important;
    max-width: unset !important;
    display: block;
}

.scratchpad-page .video-discussion .tab, .scratchpad-page .video-discussion .video-discussion-header {
    max-width: unset !important;
}

body .footer_crtwg {
    max-width: none !important;
}

body .main-discussion-guidelines.discussion-guidelines {
    float: right !important;
    width: 20% !important;
    display: block !important;
    margin-top: 0px !important;
}

/** Improvements to discussion styling **/
.linkStyledButton_ycurob:focus { /*Replies button*/
    outline: auto 3px #888 !important;
}
body .notAButton_14bcykr-o_O-tabTrigger_1jwmooj-o_O-activeTab_khee7t:focus, /*T&T tab button*/
.default_olfzxm-o_O-inlineStyles_16okj06:focus, /*Comments*/
.default_olfzxm-o_O-horizontalSeparator_6lbsg7-o_O-inlineStyles_16okj06:focus { /*Replies*/
    outline: none !important;
}
/*Background on focused comments*/
.default_olfzxm-o_O-inlineStyles_16okj06:focus {
    background: #f1f1f1;
    border-radius: 9px;
}
body .default_olfzxm-o_O-inlineStyles_16okj06 {
    padding: 9px !important;
}
.discussion-code-inline { /*Fix a bug where inline code blocks expanded the width of the comment*/
    white-space: pre-wrap;
}
body .default_olfzxm-o_O-flagText_1ajw024-o_O-flagText_avg348 {
    display: block !important; /*Flag text gets hidden on profile reply page for some reason*/
}

/** Widen scratchpad **/
body .wrap_xyqcvi {
    max-width: none !important;
}

/** Hide editor feature **/
.kae-hide-wrap .wrapScratchpadInner_poyjc-o_O-wrapScratchpadInnerBorder_1b0rgvs {
    display: block !important;
    text-align: center;
}

.kae-hide-wrap .scratchpad-canvas-wrap {
    display: inline-block !important;
    border-left: 1px solid rgba(33, 37, 45, 0.16) !important;
    border-right: 1px solid rgba(33, 37, 45, 0.16) !important;
}

body .kae-hide {
    display: none !important;
}

/** Make Error Buddy play better with other buttons in his half of the bar **/
body .errorBuddyContainer_1o6y302-o_O-buttonOnLeft_1tyzswu {
    width: auto !important;
    margin-right: 0 !important;
}

.scratchpad-wrap .error-buddy-resting .error-buddy-happy, .scratchpad-wrap .error-buddy-resting .error-buddy-thinking {
    position: static;
}

.wrapScratchpadInner_poyjc {
	overflow-x: hidden;
}

/** Program toolbar buttons (Toggle Editor and Toggle Editor Settings for now) **/
#kae-toggle-editor-settings, #kae-hide-button {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(33,36,44,0.50);
    height: 40px;
    border-radius: 4px;
    color: #1865f2;
    padding: 0 12px;
    line-height: 20px;
    cursor: pointer;
    outline: none;
}

#kae-toggle-editor-settings:hover, #kae-hide-button:hover {
    border: 1px solid transparent !important;
    box-shadow: 0 0 0 2px #1865f2;
}

/** Table Styles **/
.kae-table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	font-size: 14px;
	text-align: left;
}

.kae-td {
	padding: 4px;
	border: none;
}

/** Notification delete button **/
.kae-notif-delete {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.kae-notif-delete svg {
    padding: 5px;
    border-radius: 5px;
}

.kae-notif-delete svg:hover {
    background: #dddddd;
}

/** Make program buttons blue **/
/* 1w8n1i8 was the filled in buttons, 77ub1h was the outlined buttons; now they're filled in unless they're disabled */
body .link_1uvuyao-o_O-computing_1w8n1i8, body .link_1uvuyao-o_O-computing_77ub1h {
    border: 1px solid transparent !important;
    color: white !important;
    background: #1865f2 !important;
    margin-right: 0 !important;
}

body .link_1uvuyao-o_O-computing_1w8n1i8:hover, body .link_1uvuyao-o_O-computing_77ub1h:hover {
    border: 1px solid transparent !important;
    color: white !important;
    background: #0f52cf !important;
}

/* The color for the disabled elements gets handled by KA setting opacity 0.5 */
body .link_1uvuyao-o_O-computing_77ub1h-o_O-disabled_2gos5, body .link_1uvuyao-o_O-computing_1w8n1i8-o_O-disabled_2gos5 {
    color: #0f52cf !important;
    border: 1px solid #0f52cf !important;
    border-radius: 4px !important;
    background: white !important;
}

/*Make buttons under the program blue*/
body .kae-program-button {
    margin: 0 !important;
    padding: 8px !important;
    font-size: 15px !important;
    line-height: 23px !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
    display: inline-block !important;
    cursor: pointer !important;
    text-decoration: none !important;
    margin-right: 0 !important;
    border: 1px solid transparent !important;
    color: white !important;
    background: #1865f2 !important;
}
body .kae-program-button:hover {
    background: #0f52cf !important;
    color: white !important;
    border: 1px solid transparent !important;
}

/** Evenly space program buttons **/
.buttons_vponqv .discussion-meta .discussion-meta-controls > span:nth-child(2) {
    display: inline-block;
    width: 4.5px;
}

/* Make the sort selecting elements on the browse projects page blue */
body .link_1uvuyao-o_O-computing_1uwg40u, body .link_1uvuyao-o_O-computing_1uwg40u-o_O-disabled_2gos5 {
    color: #1865f2 !important;
}

body .link_1uvuyao-o_O-computing_1uwg40u:hover {
    color: #0f52cf !important;
}

/** Center program titles **/
.scratchpad-page .titleAndLogo_1em9xw1 {
    display: block !important;
    text-align: center !important;
}

/** Hide survey **/
.kui-survey.session-survey {
    display: none;
}

/** Editor Settings **/
.kae-editor-settings {
    display: block;
    position: absolute;
    border: 2px solid #D6D8DA;
    color: black;
    transform: translateY(-100%);
    text-align: left;
    border-radius: 2px;
    padding: 5px;
    background: #fff;
}
.kae-editor-settings table {
    border-collapse: separate;
    border-spacing: 5px;
}
.kae-editor-settings:before {
    border-top-color: transparent;
    background: #fff;
    padding: 8px;
    content: "";
    position: absolute;
    top: 100%;
    border-radius: 2px;
    border: 2px solid #D6D8DA;
    border-top-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/** Report button under programs and on profile pages **/
body #kae-report-button {
    background: #c93f3f !important;
}

body #kae-report-button:hover {
    background: #ac3030 !important;
}

.kae-user-report-button {
    display: block;
    text-decoration: none;
    color: white !important;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

/** Misc **/
.kae-green {
    color: #3eaa23 !important;
}
