/** Community guidelines **/
body .video-discussion {
    float: left !important;
    margin: 0px !important;
    margin-left: 25% !important;
    width: 50% !important;
    max-width: unset !important;
    display: block;
}

.scratchpad-page .video-discussion .tab, .scratchpad-page .video-discussion .video-discussion-header {
    max-width: unset !important;
}

body .footer_crtwg {
    max-width: none !important;
}

body .main-discussion-guidelines.discussion-guidelines {
    float: right !important;
    width: 20% !important;
    display: block !important;
    margin-top: 0px !important;
}

/** Widen scratchpad **/
body .wrap_xyqcvi {
    max-width: none !important;
}

/** Report button under programs and on profile pages **/
#kae-report-button {
    text-decoration: none !important;
    background: #c93f3f !important;
    color: white !important;
    border-radius: 4px !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 8px 8px !important;
    margin: 0px 3px 0px 0px !important;
    text-align: center !important;
    cursor: pointer;
}

#kae-report-button:hover {
    background: #ac3030 !important;
}

/** Hide editor feature **/
.kae-hide-400 {
    min-width: 400px !important;
    width: 400px !important;
}

.kae-hide-500 {
    min-width: 500px !important;
    width: 500px !important;
}

.kae-hide-600 {
    min-width: 600px !important;
    width: 600px !important;
}

[class*="kae-hide-"] .kae-hide {
    display: none !important;
}

.wrapScratchpadInner_poyjc {
	overflow-x: hidden;
}

#kae-hide-div {
    text-align: right !important;
    float: right !important;
    margin-bottom: 5px;
}

#kae-hide-button {
    width: 100px;
}

/** Table Styles **/
.kae-table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	font-size: 14px;
	text-align: left;
}

.kae-td {
	padding: 4px;
	border: none;
}

/** Notification delete button **/
.kae-notif-delete {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.kae-notif-delete svg {
    padding: 5px;
    border-radius: 5px;
}

.kae-notif-delete svg:hover {
    background: #dddddd;
}

/* Make program buttons blue */
/* 1w8n1i8 was the filled in buttons, 77ub1h was the outlined buttons; now they're filled in unless they're disabled */
#page-container .link_1uvuyao-o_O-computing_1w8n1i8, #page-container .link_1uvuyao-o_O-computing_77ub1h {
    border: 1px solid transparent !important;
    color: white !important;
    background: #1865f2 !important;
}

#page-container .link_1uvuyao-o_O-computing_1w8n1i8:hover, #page-container .link_1uvuyao-o_O-computing_77ub1h:hover {
    color: white !important;
    background: #0f52cf !important;
}

/* The color for the disabled elements gets handled by KA setting opacity 0.5 (here and below) */
#page-container .link_1uvuyao-o_O-computing_77ub1h-o_O-disabled_2gos5, #page-container .link_1uvuyao-o_O-computing_1w8n1i8-o_O-disabled_2gos5 {
    color: #0f52cf !important;
    border: 1px solid #0f52cf !important;
    border-radius: 4px !important;
    background: white !important;
}

/* Make the sort selecting elements on the browse projects page blue */
#page-container .link_1uvuyao-o_O-computing_1uwg40u, #page-container .link_1uvuyao-o_O-computing_1uwg40u-o_O-disabled_2gos5 {
    color: #1865f2 !important;
}

#page-container .link_1uvuyao-o_O-computing_1uwg40u:hover {
    color: #0f52cf !important;
}

.scratchpad-page .titleAndLogo_1em9xw1 {
    display: block !important;
    text-align: center !important;
}

.kui-survey.session-survey {
    display: none;
}

#kae-toggle-editor-settings {
    font-size: 16px;
    font-weight: bold;
}

#kae-toggle-editor-settings:hover {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2;
}

.kae-editor-settings {
    display: block;
    position: absolute;
    border: 2px solid #D6D8DA;
    color: black;
    transform: translateY(-100%);
    text-align: left;
    border-radius: 2px;
    padding: 5px;
    background: #fff;
}
.kae-editor-settings table {
    border-collapse: separate;
    border-spacing: 5px;
}
.kae-editor-settings:before {
    border-top-color: transparent;
    background: #fff;
    padding: 8px;
    content: "";
    position: absolute;
    top: 100%;
    border-radius: 2px;
    border: 2px solid #D6D8DA;
    border-top-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
